<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Normalise.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="content-wrapper">
        <div id="landing" class="vp-wrapper">
            <div id="topbar">
                <div id="logo">
                    PORTAL TEST
                </div>
            </div>
            <div id="partition-wrapper">

            </div>
        </div>
        <div id="second" class="vp-wrapper">

        </div>
    </div>
</body>
</html>
