<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Normalise.css">
</head>
<body>
    <div>
        <div id="topbar">

        </div>
    </div>
</body>
</html>
