html, body {
    height: auto;
}

body {
    font-family: Verdana;
    /*background: #9b9b9b;
    background: -webkit-linear-gradient(left top, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
    background: -o-linear-gradient(bottom right, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
    background: -moz-linear-gradient(bottom right, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
    background: linear-gradient(to bottom right, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);*/
}

#topbar-wrapper { 
    /*position: static;
    top: 0;*/
    width: 100%; /*fallback*/
    width: 100vw;
    background: #1d212f;
    background: -webkit-linear-gradient(left top, rgba(29,33,47,1) 0%, rgba(29,33,47,1) 100%);
    background: -o-linear-gradient(bottom right, rgba(29,33,47,1) 0%, rgba(29,33,47,1) 100%);
    background: -moz-linear-gradient(bottom right, rgba(29,33,47,1) 0%, rgba(29,33,47,1) 100%);
    background: linear-gradient(to bottom right, rgba(29,33,47,1) 0%, rgba(29,33,47,1) 100%);
    height: 80px;
    /*text-align: center;*/
    /*font-size: 1.875rem;*/
    /*color: #baeaff;*/
}

#topbar {
    width: 85%; /*fallback*/
    width: 85vw;
    margin: 0 auto;

}

img#top-logo {
    max-height: 80px;
    width: auto;
}

/*#logo {
    float: left;
    text-align: center;
    font-size: 1.875rem;
    color: #c3edff;
    padding: 0.5rem 0 0 0;
    width: 100vw;
    vertical-align: top;
}*/

#left-content {
    background: #9b9b9b;
    background: -webkit-linear-gradient(left top, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
    background: -o-linear-gradient(bottom right, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
    background: -moz-linear-gradient(bottom right, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
    background: linear-gradient(to bottom right, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}


/*-----------------------------------------------------

Media Queries*/

@media (min-width: 58.56rem) { /* 937px*/

    html, body {
        height: 100%;
    }

    .vp-wrapper {
        height: 100%; /*fallback*/
        height: 100vh;
        overflow: hidden;
    }

    #logo {
        /*width: auto;
        margin-left: 1.1vw;*/
        /*margin-left: 0.9375rem;*/
        padding: 16.5px;
        /*padding: 0.625rem;*/
        font-size: 24px;
    }

    #topbar-wrapper {
        
        /*position: fixed;*/
    }
}


/*-----------------------------------------------------*/