body {
    font-family: Verdana;
}

#topbar {
    height: auto; /*placeholder*/
    width: 100%;
    background: #9b9b9b;
    background: -webkit-linear-gradient(left top, rgba(146,227,49,1) 0%, rgba(120,187,39,1) 100%);
    background: -o-linear-gradient(bottom right, rgba(146,227,49,1) 0%, rgba(120,187,39,1) 100%);
    background: -moz-linear-gradient(bottom right, rgba(146,227,49,1) 0%, rgba(120,187,39,1) 100%);
    background: linear-gradient(to bottom right, rgba(146,227,49,1) 0%, rgba(120,187,39,1) 100%);
}

/*Media Queries*/

@media (min-width: 58.56rem) {

    #topbar {
        height: 60px; /*Fallback*/
        height: 9.8vh;
    }

    #colourtest {
        height: 30vh;
    }

@media (min-width: 58.56rem) and (max-height: 617px) {

    #topbar {
        height: 60px;
    }
}